API_KEY=0000000000
MODEL_URL=http://192.168.2.104:1234/v1/
MODEL=magistral-small-2509  #default local-model

EMBEDDING_URL=http://192.168.2.104:1234/v1/
EMBEDDING_MODEL=text-embedding-nomic-embed-text-v1.5
EMBED_WITH_OPENAI=False #default false
